@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F2F2F2;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
  background-color: #161616;
  height: 100%;
  overflow: auto;
}
.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
.scrollbar::-webkit-scrollbar {
  width: 1px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #E31313;
  border-radius: 100vh;
  border: 1px solid #E31313;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E31313;
  border-radius: 100vh;
  border: 1px solid #000000;
}

.scrollbar-main::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-main::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar-main::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 100vh;
  border: 2px solid #000000;
}

.scrollbar-main::-webkit-scrollbar-thumb:hover {
  background: #E31313;
  border-radius: 100vh;
  border: 2px solid #000000;
}