@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F2F2F2;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
  background-color: #161616;
  height: 100%;
  overflow: auto;
}
.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
.scrollbar::-webkit-scrollbar {
  width: 1px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #E31313;
  border-radius: 100vh;
  border: 1px solid #E31313;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E31313;
  border-radius: 100vh;
  border: 1px solid #000000;
}

.scrollbar-main::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-main::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar-main::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 100vh;
  border: 2px solid #000000;
}

.scrollbar-main::-webkit-scrollbar-thumb:hover {
  background: #E31313;
  border-radius: 100vh;
  border: 2px solid #000000;
}

.animationbutton {
  padding: 1rem 2rem;
  background-color: #E31313;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.animationbutton:hover {
  color: white;
}
.animationbutton::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  transition: 0.3s ease all;
  transform: scale(0, 1);
  transform-origin: bottom left;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.animationbutton:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

@keyframes bounceing {
  0%, 100% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(0);
  }
}
@keyframes bounceing2 {
  0%, 100% {
    transform: translatex(-3%);
  }
  50% {
    transform: translatex(0);
  }
}
@keyframes bounceing3 {
  0%, 100% {
    transform: translatex(3%);
  }
  50% {
    transform: translatex(0);
  }
}
.Slxdj,.kXteup {
  display: none !important;
}
.hGRYOm,.hGPzOw  {
  display: none !important;
}
.cVXxbE,.hGPzOw,.goodpl {
  background-color: #E31313 !important;
  box-shadow: 0 0 1px 2px #E31313 !important;
}
.ezKHIn,.hrBmXS{
    background-color: #F2F2F2 !important;
    box-shadow: 0 0 1px 1px #E31313 !important;
}
.CircularProgressbar-path {
  stroke: #E31313 !important;
}
.CircularProgressbar-text {
  fill: #E31313 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
}
.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite !important;
}

.swiper-slide {
margin-bottom: 100px;
}


.swiper-container {
  width: 480px !important;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px !important;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px !important;         
  }
}
@media screen and (min-width: 1536px) {
  .swiper-container {
    width: 1536px !important;
  }
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff !important;
  opacity: 100 !important;
  background: #fff !important;
  border: 1px solid #E31313;
  box-shadow: 0 0 1px 1px #E31313 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ec0404 !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
.css-eglki6-MuiLinearProgress-root{
    height: 4px !important;
    background-color: gray !important;
}
.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #000000 !important;
}
